.list {
  display: flex;
  gap: 35px;
  margin-top: 60px;
  justify-content: center;
  list-style-type: none;
}

.item {
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 150px;
}
